body, html{
  height:100%;
}
body{
  margin: 0px;

  background: url(dance-floor-bright.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
/* */
button{
  padding:7px 12px;
  float:right;
}
/* .title, .addDancerButton, .lineUp{*/
.title{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  /*
  background-color: #555;
  */
}
.title{
  background-color: #777;
}

img {
  max-width: 7%;
}

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.rightyDancer{
  position:absolute;
}
.blinkyDancer{
  position:absolute;
}
.fadingDancer{
  position:absolute;

  animation-name: bounce-1;
  animation-timing-function: linear;
}

/* .bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
} */
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}